---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import DateTime from '../../components/DateTime.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  return blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <header class="mb-6">
    <h2 class="site-title text-4xl text-white">
      <a href="/">ASADNQ</a>
    </h2>
  </header>
  <main class="flex-1">
    <header>
      <h1 class="text-5xl text-teal-400 font-bold">{entry.data.title}</h1>
      <DateTime value={entry.data.date} size="base" />
    </header>
    <div class="h-8"></div>
    <article class="post">
      <Content />
    </article>
  </main>
  <Footer />
</Layout>
