---
import GoodreadsWidget from '@/components/GoodreadsWidget.astro';
import StravaWidget from '@/components/StravaWidget.astro';
import Base from '@/layouts/Base.astro';
import { AboutSection } from '../components/sections/about.tsx';
---

<Base>
  <section class="py-8 px-4 sm:px-0">
    <div class="flex flex-col gap-y-4">
      <h1 class="text-gradient text-7xl font-bold">About me</h1>
      <AboutSection client:only="react" />
    </div>
    <section class="py-8 px-4 sm:px-0">
      <h2 class="text-4xl font-bold text-accent mb-4">Widgets</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 w-full gap-8">
        <GoodreadsWidget />
        <StravaWidget />
      </div>
    </section>
  </section>
</Base>
