---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
<main>
<h1>About me</h1>
<p>The self is a relation which relates itself to its ownself or it is the relation which relates itself to its ownself</p>
</main>
</Layout>