---
import BaseLayout from '../layouts/Base.astro';
import { ExperienceTimeline } from '../components/experience';
---

<BaseLayout>
  <main>
    <h1>Experience</h1>

    <ExperienceTimeline client:only />
  </main>
</BaseLayout>
