---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ContactList } from '@/components/contact-list';
// import { CardMenuList } from '@/components/card-menu-list';
import { Navbar } from '@/components/navbar.tsx';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="banner">
      <Navbar client:only="react" />
      <div class="flex flex-col min-h-screen">
        <div
          class="container mx-auto flex-1 flex flex-col gap-y-4 md:gap-y-8 justify-center items-center md:max-w-4xl px-12 py-8"
        >
          <!-- Heading and brief bio-->
          <div class="flex flex-col gap-y-4">
            <span
              class="relative left-[-40px] text-2xl font-bold text-foreground font-display-2 leading-loose"
              >👋 Hi there,</span
            >
            <h1 class="text-7xl sm:text-9xl font-extrabold font-display">
              I'm Asad
            </h1>
            <p class="relative left-[40px] text-xl font-regular">
              A <span class="font-bold text-secondary">software developer</span>
              with a passion for literature, languages, and community.
            </p>
          </div>
          <!-- Contact list -->
          <div>
            <ContactList />
          </div>
          <!-- <div class="h-4"></div>
          <div>
            <CardMenuList />
          </div> -->
        </div>
      </div>
    </main>
  </body>
</html>
