---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';
import DateTime from '../components/DateTime.astro';

const blogPosts = await getCollection('blog');
---

<Layout title="Asadnq">
  <header>
    <h1 class="text-4xl font-bold heading">ASADNQ</h1>
    <p class="text-xl font-semibold sub-heading text-white">
      Software developer at
      <a class="text-blue-300" href="https://www.cloudthought.co/"
        >CloudThought</a
      >
    </p>
  </header>
  <main class="pt-6">
    {
      blogPosts.map(({ data, slug }) => (
        <article>
          <a href={`/posts/${slug}`}>
            <header>
              <h3 class="text-3xl font-bold text-teal-300">{data.title}</h3>
              <DateTime value={data.date} />
            </header>
            <p class="text-lg font-bold text-white">{data.subtitle}</p>
          </a>
        </article>
      ))
    }
  </main>
</Layout>

<style>
  main {
    /* background-color: #30254d; */
    /* background-color: #323f95; */
    /* background-color: #212d62; */
    height: 100vh;
  }
  .heading {
    font-family: 'Bebas Neue', sans-serif;
    color: #7ec7cc;
    letter-spacing: 0.053em;
  }

  .card {
    color: #a7add3;
    background-color: #232b58;
  }
</style>
