---
import Layout from '../layouts/Layout.astro';
import { Tabs } from '../components/Tabs';
import Posts from '../components/Posts.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Asadnq">
  <header class="flex flex-row justify-between">
    <hgroup>
      <h1 class="site-title">ASADNQ</h1>
      <p>Personal website by Naufal Asad</p>
    </hgroup>
    <figure>
      <img
        class="rounded-full w-32 h-32"
        src="https://avatars.githubusercontent.com/u/32115289?s=400&v=4"
      />
    </figure>
  </header>
  <main class="py-6 flex-1">
    <!-- TODO: Fix -->
    <Tabs client:visible>
      <Posts slot="posts" />

      <h1 slot="aboutMe">About me</h1>

      <h1 slot="bookReviews">book reviews</h1>
    </Tabs>
  </main>
  <Footer />
</Layout>
