---
import { Navbar } from '@/components/navbar';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ExperienceTimeline } from '@/components/personal-info/experience';
import Base from '@/layouts/Base.astro';
---

<Base>
  <div class="py-8 px-4 sm:px-0">
    <div class="flex flex-col gap-y-4">
      <h1 class="text-gradient text-7xl font-bold">Resumé</h1>
    </div>
    <section class="flex flex-col gap-y-4 py-8">
      <h2 class="text-4xl font-bold text-secondary">Experience</h2>
      <ExperienceTimeline />
    </section>
  </div>
</Base>
