<div class="font-serif">
	<p>
		Hi! I'm Asad. I work as a software developer for about 4 years. I'm
		currently holding a position of technical leader at <a
			target="_blank"
			href="https://cloudthought.co"
			class="link">CloudThought LTD</a
		>. My experience revolves around JavaScript environment for front-end and
		back-end development.
	</p>
	<br />
	<p>
		Other than software, my interests include reading books, diving into diverse
		subjects, writing, UI/X design and long-distance running.
	</p>
	<p>
		You can get in touch with me through <a
			class="link font-bold"
			href="mailto:n.asadalhaq@gmail.com">n.asadalhaq@gmail.com</a
		>, feel free to write me in either Bahasa Indonesia or English.
	</p>
</div>
