<footer class="py-4">
	<div class="flex flex-col items-center leading-7">
		<p class="text-slate-400">
			Powered by <a
				target="_blank"
				href="https://astro.build"
				class="link font-bold">Astro</a
			>
		</p>
	</div>
</footer>
