---
const today = new Date();
---

<footer
  class="py-8 px-4 text-center text-sm text-muted-foreground flex flex-col gap-y-2"
>
  <p>&copy; {today.getFullYear()} Asadnq. All rights reserved</p>
  <p>
    This site is built with <a
      class="text-accent"
      href="https://astro.build/"
      target="_blank">Astro</a
    >
  </p>
</footer>
