---
import type { TechStackId } from './personal-info/tech-stack-list';
import { allTechStackItems } from './personal-info/tech-stack-list';

interface Props {
  techStackId: TechStackId;
  size: string;
}

const { techStackId, size } = Astro.props;
const techStack = allTechStackItems.find((el) => el.id === techStackId);
---

<div class="flex items-center justify-center bg-transparent w-8 h-8">
  {
    techStack?.logo ? (
      <img
        src={techStack.logo}
        alt={techStack?.name ?? techStackId}
        class="w-auto h-auto"
      />
    ) : (
      <span class="text-sm font-semibold">
        {techStackId
          .split('-')
          .map((el) => el[0].toUpperCase())
          .join('')}
      </span>
    )
  }
</div>
