---
import Base from '@/layouts/Base.astro';
import { ProjectCard } from '@/components/project-card.tsx';
import { getCollection } from 'astro:content';

const projects = (
  await getCollection('project').then((res) => {
    console.log(res.map((el) => `${el.data.startDate} ${el.data.title}`));
    return res;
  })
).sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf());
---

<Base>
  <!-- TODO: Extract this as a component -->
  <section class="py-8 px-4 sm:px-0">
    <div class="flex flex-col gap-y-4">
      <h1 class="text-gradient text-7xl font-bold">Projects</h1>
      <p class="text-muted-foreground text-xl">
        Here are some of the projects I've worked on.
      </p>
    </div>
    <div class="h-8"></div>
    <div class="grid grid-cols-2 sm:grid-cols-3 w-full gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            client:only="react"
            project={{ ...project.data, id: project.id }}
          />
        ))
      }
    </div>
  </section>
</Base>
