---
import { Navbar } from '@/components/navbar';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '@/components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="min-h-screen">
      <Navbar client:only="react" />
      <main class="md:max-w-4xl mx-auto flex flex-col min-h-[80vh]">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
